<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/posts.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
